<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="coupon_grid_listing_data_source" xsi:type="string">Learning\Coupon\Model\Coupon\ResourceModel\Coupon\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Learning\Coupon\Model\Coupon\ResourceModel\Coupon\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">coupon</argument>
            <argument name="resourceModel" xsi:type="string">Learning\Coupon\Model\Coupon\ResourceModel\Coupon</argument>
        </arguments>
    </virtualType>
</config>